<section class="column-container">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-12">
        <div class="about-image-five">
          <img src="assets/images/about/about-img1.jpg" alt="about" />
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="about-five-content"></div>
      </div>
    </div>
  </div>
  <!-- container -->
</section>