---
permalink: /
title: Home
layout: base.njk
content_blocks:
  - _bookshop_name: sample
    title: Beautiful email campaigns
    description: With Sendit, you can quickly create beautiful rich emails that capture a reader's attention, engage them, and convert them into customers.
    icon: /images/hero/hero-image-2.png
---
